<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos en tiempo real</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Productos en tiempo real</h1>

  <ul id="productList">
    {{#each products}}
      <li data-id="{{this.id}}">
        <img src="{{this.thumbnail}}" alt="{{this.title}}" width="100" />
        <strong>{{this.title}}</strong> - ${{this.price}} 
        <button class="deleteButton" data-id="{{this.id}}">Eliminar</button>
      </li>
    {{/each}}
  </ul>

  <h2>Agregar Producto</h2>
  <form id="productForm">
    <input type="text" id="productName" placeholder="Nombre del producto" required />
    <input type="number" id="productPrice" placeholder="Precio" required />
    <button type="submit">Agregar producto</button>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const socket = io();

      // RECIBE Y MUESTRA LI DE PRODUCTOS
      socket.on("productList", (products) => {
        const productList = document.getElementById("productList");
        productList.innerHTML = "";

        products.forEach((product) => {
          const li = document.createElement("li");
          li.setAttribute('data-id', product.id);

          li.innerHTML = `
            <img src="${product.thumbnail}" alt="${product.title}" width="100" />
            <strong>${product.title}</strong> - $${product.price}
          `;

          // BTN ELIMINAR
          const deleteButton = document.createElement("button");
          deleteButton.textContent = "Eliminar";
          deleteButton.classList.add("deleteButton");
          deleteButton.setAttribute("data-id", product.id);
          deleteButton.onclick = () => {
            socket.emit("deleteProduct", product.id);
          };

          li.appendChild(deleteButton);
          productList.appendChild(li);
        });
      });

      // AGREGAR PRODUCTO
      socket.on("productAdded", (product) => {
        const productList = document.getElementById("productList");
        if (!productList) return;

        const li = document.createElement("li");

        li.innerHTML = `
          <img src="${product.thumbnail}" alt="${product.title}" width="100" />
          <strong>${product.title}</strong> - $${product.price}
        `;

        // ELIMINAR PRODUCTO
        const deleteButton = document.createElement("button");
        deleteButton.textContent = "Eliminar";
        deleteButton.classList.add("deleteButton");
        deleteButton.setAttribute("data-id", product.id);
        deleteButton.onclick = () => {
          socket.emit("deleteProduct", product.id);
        };

        li.appendChild(deleteButton);
        productList.appendChild(li);
      });

      // ESCUCHAR PARA ELIMINAR
      socket.on("productDeleted", (productId) => {
        const productList = document.getElementById("productList");
        if (!productList) return;

        const productItems = productList.querySelectorAll("li");
        productItems.forEach((item) => {
          const button = item.querySelector(".deleteButton");
          if (button && button.getAttribute("data-id") === productId.toString()) {
            item.remove(); 
          }
        });
      });

      // NUEVO PRODUCTO
      const form = document.getElementById("productForm");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const productName = document.getElementById("productName").value;
        const productPrice = document.getElementById("productPrice").value;

        socket.emit("newProduct", { name: productName, price: productPrice });

        document.getElementById("productName").value = "";
        document.getElementById("productPrice").value = "";
      });
    });
  </script>
</body>
</html>
